:root {
  --input-color: white;
  --output-color: white;
  --switch-color-on: #34A7C1;
  --switch-color-off: #8a7777;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #363e56;
  border-radius: 8px;
  height: 600px;
  max-width: 600px;
  padding: 16px;
}

div {
  margin-top: 1rem;
}

h1 {
  color: aquamarine;
  text-align: center;
}

.input-color {
  background: var(--input-color);
  height: 60px;
  width: 100%;
}

.output-color {
  background: var(--output-color);
  height: 60px;
  width: 100%;
}

/* Switch Input! */
.switch-input {
  display: none;
}

.switchToggle::before {
  background-color: var(--switch-color-off);
  border-radius: 32px;
  content: "";
  height: 28px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 64px;
}

.switch-input:checked + .switchToggle::before {
  background-color: var(--switch-color-on);
}

.switchToggle {
  padding-left: 70px;
  padding-top: 4px;
  position: relative;
}

.switch-input:checked + .switchToggle::after {
  transform: translateX(34px);
}

.switchToggle::after {
  background-color: white;
  border-radius: 50%;
  content: "";
  height: 22px;
  left: 4px;
  position: absolute;
  top: 5px;
  transition: all 0.3s;
  width: 22px;
}

/* JavaScript Classes */
.isActive {
  color: rgba(49, 218, 77, 0.75);
  text-shadow: 0 0 1px #49fb35;
}
